<h2>Add new Celebrity</h2>

<form action="/celebs-create" method="POST">
  <label for="name">Name*</label>
  <input type="text" name="name" id="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">


  <label for="catchPharase">Catch Pharas</label>
  <input type="text" name="catchPharase" id="catchPharase">

  <button type="submit">Create now</button>
</form>